# Introduction

## Comments

To write something

In [4]:
#my comments
print("Hello World!")

Hello World!

In [5]:
print("Hello World!") #Some comment

Hello World!

In [ ]:
"""
Multiple lines comments.
"""

# crtl + /
# cmd + /

# I
# want 
# to 
# comment

## Variables

In [6]:
x = 5
y = "string"

print(x, y)

5 string

In [7]:
x = 10
x = "another"

print(x, y)

another string

### Rules for Variables

In [9]:
myVar = 1
my_var = 1
myvar2 = 1
_myvar = 1
MyVar = 1

MyVar

1

In [10]:
2myvar = 1

SyntaxError: invalid syntax (<ipython-input-10-29075fb64ebe>, line 1)

In [11]:
x, y, z = 100, "type", True

print(x, y, z)

100 type True

In [13]:
x = 5

def myfunc():
    global x
    print("Value of x is ", x)
    x = 1
    
myfunc()
myfunc()

Value of x is  5
Value of x is  1

## Printing

In [14]:
myVar = "something"

myVar

'something'

In [15]:
print(myVar)

something

In [17]:
name = "Jose"
age = 33

print("My name is {var1} and I am {var2} years old.".format(var1=name, var2=age))
print("My name is {} and I am {} years old.".format(name, age))

My name is Jose and I am 33 years old.
My name is Jose and I am 33 years old.

## Data Types

In [22]:
z = 2/3
type(z)

float

In [21]:
x = False
type(x)

bool

In [23]:
type(x)==type(z)

False

In [26]:
x = int(z)

print(x, type(x))

0 <class 'int'>

## Strings

In [27]:
'single'

'single'

In [28]:
"double"

'double'

In [31]:
phrase = "My name is "

print(phrase+name)
print(phrase, age)

My name is Jose
My name is  33

In [32]:
words = "You're students."
words

"You're students."

## Lists

In [33]:
['a','b','c','d']

['a', 'b', 'c', 'd']

In [35]:
myList = [10, 6.5, 'z', ["You", "Me"], False]
myList

[10, 6.5, 'z', ['You', 'Me'], False]

In [38]:
myList[-1]

False

In [39]:
myList[1:4]

[6.5, 'z', ['You', 'Me']]

In [40]:
b = True
myList.append(b)
myList

[10, 6.5, 'z', ['You', 'Me'], False, True]

In [42]:
myList = myList[0:3]
myList

[6.5, 'z', ['You', 'Me']]

In [45]:
myList[:1]

[6.5]

In [46]:
#Length
len(myList)

3

In [47]:
myList.insert(1, 'y')
myList

[6.5, 'y', 'z', ['You', 'Me']]

In [48]:
myList.remove(['You', 'Me'])
myList

[6.5, 'y', 'z']

In [49]:
myList.pop(-1)
myList

[6.5, 'y']

In [50]:
del myList[0]
myList

['y']

In [51]:
mySecList = [1,2,3]
list3 = myList + mySecList
list3

['y', 1, 2, 3]

## Dictionaries

In [52]:
ids = {
    1:{ #Index
        "name":"Jose", #key : #item
        "age":33,
        "height":187,
        "year":2019
    },
    2:{
        "name":"Ana",
        "age":35,
        "height":167,
        "year":2017
    }
}

ids

{1: {'name': 'Jose', 'age': 33, 'height': 187, 'year': 2019},
 2: {'name': 'Ana', 'age': 35, 'height': 167, 'year': 2017}}

In [53]:
myName = ids[1]
othrName = ids.get(2)

print(myName)
print(othrName)

{'name': 'Jose', 'age': 33, 'height': 187, 'year': 2019}
{'name': 'Ana', 'age': 35, 'height': 167, 'year': 2017}

In [54]:
age = othrName["age"]
age

35

In [55]:
othrName["year"] = 2021
othrName

{'name': 'Ana', 'age': 35, 'height': 167, 'year': 2021}

## Sets

In [56]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

In [57]:
set3.discard(3)

In [58]:
set3.remove('a')

In [59]:
set3.remove('d')

KeyError: 'd'

In [60]:
set3.discard('d')

In [61]:
set3

{1, 2, 'b', 'c'}

## Operators

In [62]:
x = 10
y = 20

In [63]:
x > y

False

In [64]:
x < y

True

In [65]:
x == y # x != y

False

In [66]:
x >= y

False

In [67]:
x <= y

True

In [68]:
not(x == y)

True

In [69]:
x > 5 and x < 20 #or

True

## if statements

In [70]:
if  x < y:
    print("is less")

is less

In [71]:
x = 25
if  x < y:
    print("is less")
else: 
    print("is greater")

is greater

In [73]:
x = 20
if  x < y:
    print("is less")
elif x > y:
    print("is greater")
else:
    print("is equal")

is equal

## Loops

In [75]:
newset = range(10)
print(newset)

range(0, 10)

In [78]:
import random

for i in range(10): #0 1 2 3 4 5 6 7 8 9 range(lower, upper, step)
    n = random.randint(1, 50)
    print(n)

14
6
17
45
35
34
43
23
42
37

In [79]:
i = 0
while i < 25:
    print("Another")
    i = random.randint(1, 30)
    print(i)

Another
14
Another
11
Another
18
Another
11
Another
24
Another
28